@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Titan+One&family=Nixie+One&display=swap');
:root {
  --ltgrey: #d0d0d0;
  --red: #bf7373;
  --green: #a0e73a;
  --yellow: #ffdb4b;
  --dkgrey: #787878;
  --purple: #6666ff;
  --blue: #348aa7;
  --title: #c4e9e0;
  --bg: #334447;
}
h1 {
	font-family: 'DM Sans', sans-serif;
	font-size: 4rem;
	font-weight: 400;
	color: black;
}
body, input {
	font-family: 'Istok Web', sans-serif;
	font-size: 2rem;
	font-weight: 700;
  background-color: var(--bg);
}
#game-table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 600px;
  width: 40%;
  z-index: 10;
}
#game-td {
  background-color: var(--red);
  text-align: center;
  width: 100%;
}
#secretword, #title {
  text-align: center;
  margin-top: 0px;
}
#title {
  font-family: 'Titan One', sans-serif;
	font-size: 4rem;
	font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--title);
  margin: 1.5rem 0 5rem 0;
}
#secretword {
  display: none;
}
.guesses {
  text-align: center;
}
.guesses input {
  height: 4rem;
  width: 4rem;
  border: transparent;
  background-color: var(--ltgrey);
  margin: 0 3px 0 3px;
  text-align: center;
  font-size: 3rem;
  caret-color: transparent;
}
.guess-inputs {
  text-align: center;
}
.guess {
  margin: auto;
  caret-color: transparent;
  background-color: transparent;
  position: fixed;
  top: 400px;
  left: 0;
  border: none;
  color: black;
  opacity: 0%;
  z-index: 0;
}
.letters {
  font-family: 'Nixie One', serif;
  text-transform: uppercase;
}
.letters:disabled {
  color: black;
}
.val-check {
  position: absolute;
  opacity: 0;
}
#newWordd {
  display: none!important;
}
#overlayA, #overlayB {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#notfound {
  margin: auto;
  width: 100%;
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 4.5rem;
  color: var(--red);
  background-color: rgba(256, 256, 256, 0.7);
}
#winner {
  margin: auto;
  width: 100%;
  height: 100%;
  font-family: 'Titan One', sans-serif;
  font-size: 7rem;
  color: var(--blue);
  background-color: rgba(256, 256, 256, 0.7);
/*  text-shadow:
    -1px -1px 0 #61e294,
     0   -1px 0 #61e294,
     1px -1px 0 #61e294,
     1px  0   0 #61e294,
     1px  1px 0 #61e294,
     0    1px 0 #61e294,
    -1px  1px 0 #61e294,
    -1px  0   0 #61e294; */
}
#sorry {
  margin: auto;
  padding-top: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Titan One', sans-serif;
  font-size: 7rem;
  color: var(--red);
  
/*  text-shadow:
    -1px -1px 0 #61e294,
     0   -1px 0 #61e294,
     1px -1px 0 #61e294,
     1px  0   0 #61e294,
     1px  1px 0 #61e294,
     0    1px 0 #61e294,
    -1px  1px 0 #61e294,
    -1px  0   0 #61e294; */
    background-color: rgba(256, 256, 256, 0.7);
}
#revealed, #wintext {
  font-family: 'Titan One', sans-serif;
  font-size: 3rem;
}
#revealed {
  color: var(--red);
}
#wintext {
  color: var(--blue);
}
#word, #answer {
  font-family: 'DM Sans', sans-serif;
  font-size: 6rem;
  color: black;
}